.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px; /* Adjust as needed */
}

.grid-item {
  width: 100%;
}

.grid-item img {
  width: 100%;
  height: auto;
   border-radius: 50%;
      object-fit: cover; 
} 

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust the minmax value for smaller screens */
    gap: 20px;
  }
}
